<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content">

    <h1>everybody</h1>
    <span th:text="${data}"></span>

    <p id="test1"></p>
    <p id="test2"></p>

    <table>
        <tr th:each="d : ${data}">
            <td th:text="${d.test1}">11</td>
            <td th:text="${d.test2}">22</td>
        </tr>
    </table>

    <script>
        fetch("/test").then((res) => {
            return res.json(); //Promise 반환
        })
            .then((json) => {
                console.log(json); // 서버에서 주는 json데이터가 출력 됨
            });
    </script>

</div>
</html>
