<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="container">
        <form name="form" action="/admin/user/save" autocomplete="off" method="post" contentType="application/json">
            <p>
                <label for="id" class="sr-only">ID</label>
                <input type="text" class="form-control" id="id" name="id"/>
            </p>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="name" name="name"/>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </p>
            <p>
                <label for="role" class="sr-only">Role</label>
                <input type="text" class="form-control" id="role" name="role"/>

                <select class="form-select" aria-label="Default select example">
                    <option selected>선택</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                </select>
            </p>
            <span id="groupCode"></span>

            <select className="form-select" aria-label="Default select example"><option selected>선택</option><option value='admin'>관리자</option><option value='user'>사용자</option></select>


            <div class="row text-center">
                <div class="col"><button type="button" onclick="location.href='/admin/user/list'" class="btn btn-outline-dark">목록</button></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"><button type="submit" class="btn btn-dark">전송</button></div>
            </div>
        </form>
    </div>



    <script>

        $(document).ready(function () {

            getCode("role")

        });


    </script>

</div>

</html>
