<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>샘플</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <th:block layout:fragment="script">
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.js"></script>
    <script src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.js"></script>
    <script src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.esm.js"></script>
    </th:block>
    <th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap-grid.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap-reboot.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap-utilities.css"  media="screen,projection"/>
    </th:block>
</head>
<body>
<div id="top" th:replace="~{fragments/header:: header}"></div>
<div layout:fragment="content" class="content"></div>
<div id="footer" th:replace="~{fragments/footer:: footer}"></div>
</body>
</html>
