<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>start-module</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.min.js" type="module"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/common.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/header.css" media="screen,projection"/>
</head>
<body>
<div th:replace="~{config/fragments/header:: header}"></div>
<div layout:fragment="content"></div>
<div th:replace="~{config/fragments/footer:: footer}"></div>
</body>
</html>
