<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-md-1" style="float: none; margin:0 auto; width: 300px;">
<!--        <div class="card text-bg-danger text-center" style="width: 18rem; text-align: center">-->
        <div class="card text-bg-danger text-center" >
            <div class="card-body">
                <h4 class="card-title">Error Page</h4>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
<!--                <li class="list-group-item"><span th:text="${code}"></span></li>-->
                <li class="list-group-item"><span class="text-danger" th:text="${msg}"></span></li>
            </ul>
            <div class="card-body" style="text-align: center;">
                <a href="/" class="card-link text-white">홈으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>
</html>
