<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <title>start-module</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.min.js" type="module"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap.min.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/common.css" media="screen,projection"/>
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="content">
        <form id='form' method="post" action="/login-process">
            <label for="username"></label><input type="text" id="username" name="id" placeholder="아이디">
            <label for="password"></label><input type="password" id="password" name="password" placeholder="비밀번호">
            <button class="btn btn-sm btn-dark" type="submit">Join</button>
            <button class="btn btn-sm btn-dark" type="button" onclick="location.href='/auth/loginPage'">Back</button>
        </form>
    </div>


    <script>
        const form = document.getElementById('form');

        form.addEventListener('submit', e => {
            e.preventDefault();

            const data = new FormData(form);
            const param = JSON.stringify(Object.fromEntries(data));

            fetch('/auth/join', {
                method: 'POST',
                body: param,
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.status === 200) {
                        window.location.href = '/auth/loginPage';
                        alert("회원가입 성공")
                    } else {
                        alert("회원가입 실패")
                    }
                })
                .catch(error => console.log(error))
        });
    </script>
</div>
</body>
</html>
