<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="content">
        <form method="post" action="/login-process">
            <label>
                <input type="text" name="userId">
            </label>
            <label>
                <input type="password" name="userPw">
            </label>
            <button class="btn btn-dark" type="submit">login</button>
            <a href="/auth/joinPage" class="text-black" style="color:black;">join</a>
        </form>
    </div>

    <span th:text="${error}"></span>
    <span th:text="${exception}"></span>

</div>


</body>
</html>
