<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<div th:fragment="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">홈</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav nav-tabs">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#"
                                   role="button" aria-expanded="false">사용자 관리</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/admin/user/list">사용자 목록</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/admin/setting">tobe..</a></li>
                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#"
                                   role="button" aria-expanded="false">역할</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/setting">사용자</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/admin/setting">관리자</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/board/list">게시판</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="">Disabled</a>
                            </li>
                        </ul>
                    </div>

                    <span id="time"></span>
                    [<span id="loginRoles"></span>]
                    <a class="nav-link text-dark me-2 ms-5" href="/logout">로그아웃</a>
                </div>
            </nav>
        </div>
    </div>
    <script>

        $('nav li').hover(
            function () {
                $('ul', this).stop().slideDown(200);
            },
            function () {
                $('ul', this).stop().slideUp(200);
            }
        );

        function getUserInfo() {
            $.ajax({
                url: "/userInfo"
                , type: "get"
                , success: function (data) {
                    console.log(data)
                    $('#loginId').html(data.loginId)
                    $('#loginRoles').html(data.loginRoles[0].authority.replace("ROLE_", ""))

                    sessionTime(data.endTime)

                }
            });
        }


        function sessionTime(endTime) {

            let now = Date.now();
            let calc1 = endTime - now
            let calc2 = parseInt( calc1 / 1000 )
            let cale3 = parseInt( calc2 / 60 ) + "분"+ calc2%60 + "초"

            console.log(now + " || 현재시간")
            console.log(endTime + " || 종료시간")
            console.log(calc1 + " || calc1")
            console.log(calc2 + " || calc2")
            console.log(cale3 + " || cale3")

            $('#time').html(cale3)

            if(calc2 < 1) {
                window.location.href = '/'
                throw "세션이 종료되었습니다."
            }


        }

        getUserInfo();
        setInterval(getUserInfo, 1000);

        $(document).ready(function () {
        });
    </script>
</div>
</body>
</html>
