<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<div th:fragment="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">홈</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav nav-tabs">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#"
                                   role="button" aria-expanded="false">사용자 관리</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/admin/user/list">사용자 목록</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/admin/setting">관리자</a></li>
                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#"
                                   role="button" aria-expanded="false">역할</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/setting">사용자</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/admin/setting">관리자</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/board">게시판</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <span id="loginId"></span>
                    [<span id="loginRoles"></span>]
                    <a class="nav-link text-dark me-2 ms-5" href="/logout">로그아웃</a>
                </div>
            </nav>
        </div>
    </div>
<script>

    $('nav li').hover(
        function() {
            $('ul', this).stop().slideDown(200);
        },
        function() {
            $('ul', this).stop().slideUp(200);
        }
    );

    $(document).ready(function() {
        $.ajax({
            url : "/userInfo"
            ,type : "get"
            ,success : function(data){
                $('#loginId').html(data.loginId)
                $('#loginRoles').html(data.loginRoles[0].authority)
            }
        });
    });
</script>
</div>
</body>
</html>
