<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="col-md-5" style="float: none; margin:0 auto;">
        <div class="card text-bg-danger mb-3" style="width: 18rem; text-align: center">
            <div class="card-body">
                <h2 class="card-title">Error Page</h2>
                <p class="card-text"></p>
            </div>
            <img src="/images/error/error.png" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
<!--                <li class="list-group-item"><span th:text="${code}"></span></li>-->
                <li class="list-group-item"><span class="text-danger" th:text="${msg}"></span></li>
            </ul>
            <div class="card-body" style="text-align: center;">
                <a href="/common/dashboard" class="card-link text-white">홈으로 돌아가기</a>
            </div>
        </div>
    </div>


</div>
</html>
