<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seon.startmodule.mapper.BoardMapper">

    <select id="getList" resultType="seon.startmodule.dto.BoardDTO">
        select seq
             , type
             , title
             , content
             , create_date
             , update_date
        from board
        order by create_date desc
    </select>

    <select id="getOne" resultType="seon.startmodule.dto.BoardDTO">
        select seq
             , type
             , title
             , content
             , create_date
             , update_date
        from board
        where seq = #{seq}
    </select>

    <insert id="save">
        insert into board(type, title, content, create_date)
        values (#{type}, #{title}, #{content}, now())
    </insert>

    <update id="modify">
        update board
        set type        = #{type},
            title       = #{title},
            content     = #{content},
            update_date = now()
        where seq = #{seq}
    </update>

    <delete id="delete">
        delete
        from board
        where seq = #{seq}
    </delete>


</mapper>
