<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-md-5" style="float: none; margin:0 auto;">
        <h3 class="overview-normalize">접속 아이디</h3>
        <p>
            <span th:text="${loginId}"></span>
        </p>
        <hr/>
        <h3 class="overview-normalize">역할</h3>
        <p>
            <span th:text="${loginRoles}"></span>
        </p>
        <hr/>
        <p>
            <button onclick="location.href='/view/setting/admin'" class="btn btn-sm btn-success">관리자 설정 페이지(관리자만)
            </button>
            <button onclick="location.href='/view/setting/userS'" class="btn btn-sm btn-info">유저 설정 페이지(유저만)</button>
        </p>
        <hr/>
    </div>
</div>
</html>
