<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content">

    <h1>everybody</h1>
    <span th:text="${data}"></span>


    <button onclick="test()">테스트</button>
    <table>
        <tr>
            <th id="test1"></th>
            <td id="test2"></td>
        </tr>
    </table>



    <script>

        function test () {
            $.ajax({
                url : "/dashboard"
                ,type : "get"
                ,success : function(data){
                    console.log(data)
                    $('#test1').html(data[0].test1)
                    $('#test2').html(data[0].test2)
                }
            });
        }

        $(document).ready(function() {

        });

    </script>

</div>
</html>
