<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="container">
        <table class="table">
            <tr>
                <th>#</th>
                <td><span id="seq" th:text="${data.seq}"></span></td>
            </tr>
            <tr>
                <th>타입</th>
                <td><span th:text="${data.type}"></span></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><span th:text="${data.title}"></span></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><span th:text="${data.content}"></span></td>
            </tr>
            <tr>
                <th>작성시간</th>
                <td><span th:text="${#temporals.format(data.createDate, 'yyyy-MM-dd HH:mm')}"></span></td>
            </tr>
        </table>
        <div class="row text-center">
            <div class="col">
                <button type="button" onclick="location.href='/board/list'" class="btn btn-outline-dark">목록</button>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button th:onclick="|location.href='@{/board/modify/{seq}(seq = ${data.seq})}'|" class="btn btn-dark">수정</button>
            </div>
        </div>
    </div>
</div>
</html>
