<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">구분</th>
                <th scope="col">제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${list}">
                <th th:text="${list.seq}"></th>
                <td th:text="${list.type}"></td>
                <td>
                    <a th:href="'/board/'+${list.seq}" th:text="${list.title}"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link text-black" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link text-black" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="row text-center">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><button onclick="location.href='/board/save'" class="btn btn-outline-dark">등록</button></div>
        </div>

    </div>
</div>

<script>
</script>
</html>
