<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}" lang="ko">
<div layout:fragment="content">

    <form name="save_form" action="/board/saveBoard" autocomplete="off" method="post" contentType="application/json">
        <p>
            <label for="type" class="sr-only">타입</label>
            <input type="text" class="form-control" id="type" name="type"/>
        </p>
        <p>
            <label for="title" class="sr-only">제목</label>
            <input type="text" class="form-control" id="title" name="title"/>
        </p>
        <p>
            <label for="content" class="sr-only">내용</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </p>
        <button type="submit">전송</button>
    </form>

</div>

<script>


    function regBoard() {

        const form = document.getElementById('save_form');
        const data = new FormData(form);
        const param = JSON.stringify(Object.fromEntries(data));

        console.log(form)
        console.log(data)
        console.log(param)


        $.ajax({
            url: "/board/regBoard"
            , type: "post"
            , data: {
                "type": "1",
                "title": "1",
                "content": "1"
            }
            , success: function (data) {
                console.log(data)
            }
        });
    }

</script>

</html>
